.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.data {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
